<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <style>
      .scoreboard_container {
        top: 23px;
      }
      .line{
        top: 123px
      }
    </style>
    <!-- <div class="sw-logo fade_down"></div> -->

    <!-- <div class="info_container">
      <div class="parrygg_logo"></div>
      <div class="info">
        <div class="tournament_name"></div>
        <div class="divider"></div>
        <div class="match_container">
          <div class="match"></div>
          <div class="best_of"></div>
        </div>
      </div>
    </div> -->

    <!-- <div class="middle_logo fade"></div> -->

    <div class="scoreboard_container">
      <div class="p1 player container">
        <div class="character_container"></div>
        <div class="player-info">
          <div class="top-row">
            <div class="flagstate"></div>
            <div class="pronoun"></div>
            <div class="twitter"></div>
            <div class="seed"></div>
          </div>
          <div class="bottom-row">
            <div class="name font-scale-fit"></div>
          </div>
        </div>
        <div class="score"></div>
      </div>


      <div class="p2 player container">
        <div class="score"></div>
        <div class="player-info">
          <div class="top-row">
            <div class="seed"></div>
            <div class="twitter"></div>
            <div class="pronoun"></div>
            <div class="flagstate"></div>
          </div>
          <div class="bottom-row">
            <div class="name font-scale-fit"></div>
          </div>
        </div>
        <div class="character_container"></div>
      </div>
    </div>

    <div class="p1 playercam fade_right"></div>
    <div class="p2 playercam fade_left"></div>

    <div class="line fade_down">
      <!-- <div class="phase"></div> -->
      <div class="match"></div>
      <div class="best_of"></div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
