@font-face {
  font-family: 'LEMON MILK';
  src: url('LEMONMILK-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'LEMON MILK';
  letter-spacing: 1.2px;
  font-weight: bold;
  opacity: 0;
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
}

.stage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

.stage .text div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -999;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./bg.png);
  filter: blur(5px) brightness(0.9);
}

.player_avatar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.p1 .player_avatar {
  background: var(--p1-score-bg-color);
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    #ffffff 0%,
    #ffffff 70%,
    #ffffff00 100%
  );
}
.p2 .player_avatar {
  background: var(--p2-score-bg-color);
  -webkit-mask-image: -webkit-linear-gradient(
    right,
    #ffffff 0%,
    #ffffff 70%,
    #ffffff00 100%
  );
}

.player_avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: absolute;
  color: var(--text-color);
  display: flex;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  align-items: center;
  padding: 20px 40px;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.player_col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.name_row {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}

.p2 .name_row {
  justify-content: flex-end;
}

.p1 .name_row > .name > .text {
  place-content: flex-start;
}
.p2 .name_row > .name > .text {
  place-content: flex-end;
}

.p2 .player_col > * > .text {
  justify-content: flex-end;
}

.p1 .player_col > * > .text {
  justify-content: flex-start;
}

.info_grid {
  display: block;
  gap: 0px;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  overflow: hidden;
  /* margin-top: 8px;
  max-width: 100%;
  overflow: hidden;
  height: 50px; */
}

.info_grid > .text_empty {
  display: none;
}

.info_grid > .text {
  display: flex;
  flex-wrap: nowrap;
  /* gap: 8px; */
  justify-content: flex-start !important;
}

.p2 .info_grid > .text {
  flex-direction: row-reverse;
}

.info_grid > .text > div {
  border-radius: calc(var(--border-radius) / 2);
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}

.p1 .info_grid > .text > div {
  /* background: color-mix(in srgb, var(--p1-score-bg-color) 35%, var(--bg-color) 65%); */
}

.p2 .info_grid > .text > div {
  /* padding: 0px 0px 0px 10px; */
  /* background: color-mix(in srgb, var(--p2-score-bg-color) 35%, var(--bg-color) 65%); */
}

.info_grid > .text > .flagcountry,
.info_grid > .text > .flagstate {
  padding: 0 0 0 0;
  /* height: 36px; */
  /* gap: 8px; */
}

.player.container {
  top: 792px;
  width: 705px;
  height: 185px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 9;
  /* background-image: url("./water.png") !important; */
}

.player.container.p1 {
  /* border-bottom-right-radius: 0; */
  clip-path: polygon(0 0, calc(100% - 66px) 0, 100% 160px, 100% 100%, 0 100%, 0 100%)
}

.player.container.p2 {
  flex-direction: row-reverse;
  /* border-bottom-left-radius: 0; */
  clip-path: polygon(0 160px, 66px 0, 100% 0, 100% 100%, 0 100%)
}

.player.container .column {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  width: 430px;
  overflow: hidden;
  align-items: flex-start;
}

.column > div {
  max-width: 100%;
}

.player.container.p2 .column {
  align-items: flex-end;
}

.player.container.p2 .column > div {
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.p2 .row {
  flex-direction: row-reverse;
}

.p2.container .row > div {
  justify-content: flex-end;
}

.p1.container {
  background: color-mix(in srgb, var(--p1-score-bg-color) 15%, var(--bg-color) 85%);
  background-position: 100% 0;
  left: 143px;
  /* border-top-left-radius: 0; */
  /* border-bottom-left-radius: 0; */
}

.p2.container {
  background: color-mix(in srgb, var(--p2-score-bg-color) 15%, var(--bg-color) 85%);
  background-position: 0 0;
  right: 143px;
  /* border-top-right-radius: 0; */
  /* border-bottom-right-radius: 0; */
}

.container .name {
  font-size: 56px;
  overflow: hidden;
  width: 100%;
}

.container .name .text > span {
  display: flex;
  align-items: center;
}

.p2.container .name .text > span {
  flex-direction: row-reverse;
}

.real_name {
  align-self: flex-start;
  font-size: 24px;
}

.p2 .real_name {
  align-self: flex-end;
}

.twitter_logo {
  -webkit-mask-image: url(../icons/twitter.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.seed_logo {
  -webkit-mask-image: url(../icons/seed_leaf.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 24px;
  height: 24px;
  margin-right: 6px;
  flex-shrink: 0;
}

.pronoun_logo {
  -webkit-mask-image: url(../icons/user.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background: var(--text-color);
  width: 24px;
  height: 24px;
  margin-right: 6px;
  flex-shrink: 0;
}

.twitter, .seed, .pronoun {
  position: relative;
  border-radius: calc(var(--border-radius) / 2);
  overflow: hidden;
  padding: 6px 0px;
  border: none;
  font-size: 27px;
  display: inline-flex;
  align-items: center;
}

.p1 .twitter, .p1 .seed, .p1 .pronoun {
  /* background: color-mix(in srgb, var(--p1-score-bg-color) 35%, var(--bg-color) 65%); */
}

.p2 .twitter, .p2 .seed, .p2 .pronoun {
  /* background: color-mix(in srgb, var(--p2-score-bg-color) 35%, var(--bg-color) 65%); */
}

.real_name {
  font-size: 26px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  transform-origin: center;
  background-image: url("../logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.p1 .sponsor {
  color: var(--p1-sponsor-color);
}

.p2 .sponsor {
  color: var(--p2-sponsor-color);
}

.player.container .sponsor {
  /* font-size: 52px; */
  margin-right: 12px;
  font-size: 85%;
}

.losers_badge {
  position: absolute;
  font-size: 24px;
  padding: 2px 12px;
  bottom: 16px;
  opacity: 0;
  border-radius: calc(var(--border-radius)/2);
  font-weight: 900;
  color: var(--bg-color);
}

.p1 .losers_badge {
  background-color: var(--p1-score-bg-color);
  right: 24px;
}

.p2 .losers_badge {
  background-color: var(--p2-score-bg-color);
  left: 24px;
}

.info {
  position: absolute;
  top: 680px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  display: flex;
  flex-direction: column;
  z-index: 9;
  /* gap: 8px; */
}

.info div {
  background: linear-gradient(90deg, transparent 0%, var(--text-color), transparent 100%);
  padding: 0px 64px;
  box-sizing: border-box;
}

.tournament {
  top: 20px;
  width: 800px;
  font-size: 38px;
  place-content: center;
  max-width: 100%;
}

.match {
  font-size: 64px;
  letter-spacing: 2px;
  place-content: center;
  text-transform: uppercase;
  max-width: 100%;
}

.phase_best_of {
  text-transform: uppercase;
  font-size: 28px;
  place-content: center;
  padding-left: 20px;
  padding-right: 20px;
  background-position: center;
  max-width: 100%;
  letter-spacing: 2px;
}

.flag {
  display: block;
  width: 50px;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.flagstate > .flag {
  width: 50px;
  height: 50px;
}

.flagname {
  font-size: 24px;
  white-space: nowrap;
  color: var(--text-color);
}

.score {
  top: 0;
  /* width: 60px; */
  right: 0;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 120px;
  margin: 0 16px;
}

.p1 .score {
  margin-left: 13px;
}

.p2 .score {
  right: unset;
  left: 0;
  margin-right: 13px;
}

.p1.character {
  position: absolute;
  overflow: visible;
  left: 0px;
  width: 740px;
  top: 0;
  height: calc(100% - 210px);
  perspective: 1000px;
  perspective-origin: right;
  z-index: -1;
  display: flex;
  flex-direction: column;
  transform-origin: left;
  flex-direction: column;
}

.character .tsh_character {
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    #ffffff 0%,
    #ffffff 70%,
    #ffffff00 100%
  );
}

.p2.character .tsh_character {
  -webkit-mask-image: -webkit-linear-gradient(
    right,
    #ffffff 0%,
    #ffffff 70%,
    #ffffff00 100%
  );
}

.p2.character .tsh_character div {
  transform: scaleX(-1);
}

.character .video {
  top: 0;
  position: absolute;
  left: 0%;
}

.p2.character video {
  transform-origin: 50% 50%;
  transform: scaleX(-1);
  left: unset;
  right: 0%;
}

.p1.character .bg {
  width: 100%;
}

.bg {
  height: 100%;
  /* filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.42))
    drop-shadow(0 3px 1px rgba(0, 0, 0, 0.44))
    drop-shadow(0 1px 5px rgba(0, 0, 0, 0.42))
    drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.4)); */
}

.bg:not(:last-child) {
  border-bottom: 4px solid var(--bg-color);
}

.p2.character {
  position: absolute;
  overflow: visible;
  right: 0px;
  width: 740px;
  top: 0;
  height: calc(100% - 210px);
  perspective: 1000px;
  perspective-origin: left;
  display: flex;
  transform-origin: right;
  flex-direction: column;
}

.p2.character .bg {
  width: 100%;
  /* background: var(--p2-score-bg-color); */
}

.portrait_container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.portrait {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(-32px 16px 0px rgba(0, 0, 0, 0.8));
}

.invert_shadow {
  filter: drop-shadow(32px 16px 0px rgba(0, 0, 0, 0.8));
}

.vs {
  font-size: 200px;
  position: absolute;
  left: 49.2%;
  top: 880px;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 999;
  color: var(--bg-color);
  filter: drop-shadow(0px 0px 4px white);
  text-shadow: 0 0 10px white;
}

.sponsor_logo {
  overflow: visible;
  position: fixed;
  width: 160px;
  height: 160px;
  top: -860px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.p1 .sponsor_logo {
  left: 5px;
}

.p2 .sponsor_logo {
  right: 5px;
}

.character_name {
  position: fixed;
  max-width: 600px;
  min-width: 0;
  top: -56px;
  font-size: 32px;
  text-transform: uppercase;
  left: 8px;
  box-sizing: border-box;
  padding: 4px 64px;
  background: linear-gradient(90deg, transparent 0%, var(--bg-color), transparent 100%);
  color: var(--text-color);
}

.p2 .character_name {
  right: 8px;
  left: unset;
}

.character_name .text {
  justify-content: flex-start;
}

.character_name.text_empty {
  padding: 0 !important;
}

.variant_icon {
  padding-left: 6px;
  padding-right: 6px;
}

.variant_name {
  font-size: 22px;
}

.variant_intercal {
  width: 6px;
}

.line {
  position: absolute;
  /* bottom: 0px; */
  bottom: 297px;
  z-index: 100;
  
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  /* text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; */
  -webkit-text-stroke: 6px black !important;
}

.line > * > .text {
  -webkit-text-stroke: 6px black !important;
}

.phase {
  font-size: 16px;
  width: 100%;
  opacity: 0.6;
}

.phase .text {
  justify-content: left;
}

.match {
  font-size: 33px;
  letter-spacing: 2px;
  /* width: 100%; */
}

.dot {
  font-size: 33px;
  letter-spacing: 2px;
  /* width: 100%; */
  width: 20px;
  text-align: center;
  transform: translateY(-21%);
}

.best_of {
  font-size: 33px;
  /* width: 100%; */
  /* opacity: 0.6; */
  text-transform: uppercase;
}

.best_of .text {
  justify-content: right;
}

.text {
  text-shadow: 0px 0px 8px rgb(0, 0, 0);
  -webkit-text-stroke: 2px black;
  paint-order: stroke fill;
}


.p2 .info_grid > .text > div:not(:first-child)::after {
  content: "•";
  font-size: 24px;
  padding: 0px 5px 0px 5px;
}

.p1 .info_grid > .text > div + div::before {
  content: "•";
  font-size: 24px;
  padding: 0px 5px 0px 5px;
}

.character_container {
  width: 70px;
  height: 70px;
}

.tsh-img {
  width: 70px !important;
  height: 70px !important;
  top: 0px !important;
  left: 0px !important;
  object-fit: contain !important;
  image-rendering: pixelated;
}

.tsh_character_img {
  width: 70px !important;
  height: 70px !important;
}


.flagcountry {
    height: 25px !important;
    border-radius: 8px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 8px;
  max-width: 100%;
  overflow: hidden;
  gap: 8px;
  height: 50px;
}

.p2 .bottom-row {
  justify-content: flex-end;
}

.p1 .bottom-row {
  justify-content: flex-start;
}

.flagstate {
  padding-left: 10px;
  padding-right: 10px;
}

.p2 .seed {
  margin-right: 78px;
}

.p1 .seed {
  margin-left: 78px;
}