<html>
  <head>
    <meta charset="utf-8" />
    <script src="../include/globals.js"></script>
    <link rel="stylesheet" href="../main.css" />
    <link rel="stylesheet" href="./index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body>

	<div class="main_container">
		<div class="local-time">
			<div class="time-header">Local Time</div>
			<div class="time-display">9:22</div>
			<div class="time-zone">NZT</div>
		</div>

		<div class="vertical-line"></div>

		<div class="player-left profile-picture"></div>

		<div class="player-name player-left-name">
			<div class="name"><div class="sponsor">Nouns</div>Aklo</div>
		</div>

		<div class="score">3-3</div>

		<div class="player-right profile-picture"></div>


		<div class="player-name player-right-name">
			
			<div class="name"><span class="sponsor">NOUNS</span>Nicki</div>
		</div>

		<div class="now">NOW</div>

		<div class="round">Losers Finals</div>

		<div class="vertical-line line-2"></div>

		<div class="text-info"></div>
		<div class="logo"></div>
		
	</div>
    
    <script src="index.js"></script>
  </body>
</html>